[general]

  # Defines if the map is enabled or not
  B:enable-map=false

  # Defines if the players should be notified that the map feature exists. This is going to be updated automatically if needed
  B:notify-user=false

  # Defines if player tracking is enabled.
  # This is disabled by default as it keeps track of the players movement for a LONG Time
  # By My estimation, depending on how much the player teleports it will track between 4 hours and 30 days of movement
  # Ram Usage will be at most 1MB per player
  # The Alternative name for this feature is Stalker Mode
  B:enable-player-tracking=false

  # Defines the permission for the Maps. Which players can access what
  #​ Format: [PlayerId: (String); Tracking-Type: (Enum); Permissions: (List(Enum));],
  #​ Example: [PlayerId: 84d6171c-8546-4309-bf3e-fc0956f32ea0; Tracking-Type: EVERYTHING; Permissions: [VIEW_MAP, VIEW_OTHER_PLAYERS, VIEW_OFFLINE_PLAYERS, VIEW_HIDDEN_PLAYERS, VIEW_PLAYER_TRAILS, VIEW_OTHER_PLAYER_TRAILS, REQUEST_RESCANS, EDIT_EVENTS, DELETE_MAP_DATA, ALLOW_TELEPORT, VIEW_CHUNK_LOADERS, SYNC_CAVES, SYNC_SLIME_CHUNKS, SYNC_ENTITIES, SYNC_BLOCK_ENTITIES, SYNC_STRUCTURES];]
  P:player-permission=
  
  # Defines the settings what permissions are granted to any user who logs into the server
  # player-permissions setting allows to override that. But these settings are all features that non admins could have access to
  [general.public-map]

    # Defines if the Public Map mode is enabled.
    # This Setting decides if all other settings are ignored or not
    B:enable=false

    # Defines if the players can see unloaded entities/blockEntities/structures
    B:sync-offline-data=true

    # Defines if the players can see cave data as well or if simply a top down mode is used
    B:sync-cave-data=true

    # Defines if the slime chunk data is synchronized as well
    B:sync-slimechunk-data=false

    # Defines which map tracking mode is used
    # NOTHING => Players will receive nothing, if the public map is disabled this is the go to unless you are an admin
    # ONLY_SELF => Players will receive only the chunk they stand in.
    # ONLY_WATCHED => Players will receive the data they would receive in the normal gameplay as well
    # EVERYTHING => Players will receive the entire map upon login and get automatic updates as the world changes
    #​ Must be one of [NOTHING, ONLY_SELF, ONLY_WATCHED, EVERYTHING]
    E:public-tracking-mode=ONLY_WATCHED

[user-settings]

  # Defines if normal players can see you on their maps if they have access to it
  B:hide-from-non-admins=false

  # Defines how the Player wants to track the map.
  # Though the server has the final say in terms of how much can be tracked users still get some control
  # For example, if the server says: You get everything, but the Player only wants chunks they can view then the player gets the right to downgrade their sync
  # For the opposite the server would get the final say.
  #​ Must be one of [NOTHING, ONLY_SELF, ONLY_WATCHED, EVERYTHING]
  E:tracking-type=EVERYTHING

# Defines Configurable Optimizations for the map
[optimizations]

  # Defines the list of ignored BlockEvents that ChunkPregen may receive through its eventlistener.
  # This is done to prevent overload of clients and to receive updates so much that their CPU gets maxed out.
  # These entries are the Canonical Names of the classes for better support.
  A:invalid-block-events=<<<
    net.minecraftforge.event.level.BlockEvent.CropGrowEvent.Pre, 
    net.minecraftforge.event.level.BlockEvent.CropGrowEvent.Post, 
    net.minecraftforge.event.level.BlockEvent.NeighborNotifyEvent, 
    net.minecraftforge.event.level.PistonEvent.Pre
  >>>